<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{active: selected === ''}"><a ng-href="#/">Home</a></li>
    <li ng-class="{active: selected === 'monthly'}"><a ng-href="#/monthly">Monthly</a></li>
    <li ng-class="{active: selected === 'representative'}"><a ng-href="#/representative">Representatives</a></li>
    <li ng-class="{active: selected === 'region'}"><a ng-href="#/region">Regions</a></li>
    <li ng-class="{active: selected === 'territory'}"><a ng-href="#/territory">Territories</a></li>
  </ul>
  <h3 class="text-muted">Angularjs Reporting</h3>
</div>
